certifi==2018.4.16
cycler==0.10.0
Cython==0.29
decorator==4.3.0
kiwisolver==1.0.1
matplotlib==2.2.2
mkl-fft==1.0.4
mkl-random==1.0.1
mpmath==1.0.0
networkx==2.1
numpy==1.15.0
pandas==0.23.3
pygraphviz==1.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
sympy==1.2
tornado==5.0.2
scipy
scikit-learn
pydot
